.info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: 50px;
    margin-right: 50px;
}

.info-box {
    text-align: center;
    font-size: 30px;
    width: 620px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.573);
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    display: inline-block;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.info-box h2 {
    white-space: nowrap;
    font-size: 38px;
    margin-top: -15px;
    margin-left: -5px;
}

.fa-piggy-bank {
    margin-top: 70px;
}

.fa-hand-holding-dollar {
    margin-top: 70px;

}

.box-money {
    margin-top: -180px;
    font-size: 80px;
}

.box-out-money {
    margin-top: -180px;
    font-size: 80px;
}



.openNavBurger {
    font-size: 100px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(15, 15, 15);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.myNavText {
    margin-top: 75px;
}

.sidenav a {
    padding: 30px 8px 8px 22px;
    padding-top: 30px;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav a {
    margin-top: 0;    
}

.sidenav .closebtn {
    position: absolute;
    top: -1%;
    right: 0;
    font-size: 116px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

body { 
    background-color: beige;
}

.CategoryInput {
    margin-top: 100px;
    text-align: center;
    height: 200px;
    font-size: 50pt;
    font-family: 'Courier New', Courier, monospace;
}

input {
    height: 75px;
    width: 600px;
    font-size: 1em;
}

.createButton {
    position: absolute;
    left: 30%;
    top: 60%;
    font-size: 40px;
    height: 100px;
    width: 370px;
    border-radius: 40px;
    color: white;
    background-color: black;
}



p {
    margin-top: 50px;
    font-size: 60px;
    text-align: center;
    transition: margin 0.5s ease;
    
}

p:first-child {
    margin-top: 500px;
    font-size: 60px;
    text-align: center;

}

.box {
    height: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    position: relative;
    visibility: hidden;
    transition: height 1.3s;    
}

.boxText {
    font-size: 14px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}


#dataDisplay p{
    display: inline-block;
    background-color: rgba(218, 218, 218, 0.476);
    width: 40%;
    height: 250px;
    border: solid black 1px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.733);
}
